html{
  background-color: hsl(45,100%,54%);
  stroke:#1A1A1A;
  font-family: NeueHaasUnicaW1G-Regular, sans-serif;
  filter:hue-rotate();
  transition: .5s;
  font-size:16px;
}

.secondary-page{
    background-color: hsl(0,0%,97%);
}

/*these styles change the entire style of the page*/
.style1{
  color:#1A1A1A;
  background-color: hsl(45,100%,54%);
  stroke:#1A1A1A;
}

.style2{
  background-color: hsl(197, 100%, 53%);
}

.style3{
    background-color: hsl(45,100%,98%);
}

.style4{
  color:#FFF;
  background-color: hsl(0, 0%, 10%);
  stroke:#FFF;
}

body{
  max-height:100vh;
}

.secondary-bar{
  background: hsl(15, 100%, 55%);
  width:120px;
  height:96vh;
  margin:2vh 20px 2vh 30px;
  float:left;
  transition:.5s;
  border-radius:4px;
  border:none;
  outline:none;
  box-shadow:none;
  position:fixed;
  z-index:100;
}

.invisible{
    opacity:0;
}

.align-bar{
    background:cyan;
    position:relative;
    height:100%;
    z-index:0;
}

.secondary-bar:hover{
  cursor:pointer;
  width:136px;
  background: hsl(15, 100%, 50%);
}
/*
.bar:focus{

}*/
/*for if and when we do video:

/*.bar {
    overflow: hidden;
}

.bar video{
    min-height: 100%;
}
*/

/*video{
  height:100%;
}*/

.content{
  float:left;
  padding-left:20px;
  padding-top: 1px;
}

h1, h2{
  font-family: WhyteInktrapTrial-Book, sans-serif;
  position:relative;
  clear:left;
  font-size:4.5rem;
  letter-spacing: -3.5;
  line-height: 64.5px;
  margin-bottom: 12px;
}

h2 {
    padding-top: 96px;
}

a{
  float:left;
  text-align:left;
  font-size:2.25rem;
  line-height: 34px;
  letter-spacing: -1.8;
  font-weight: 200;
  text-decoration:none;
}

.link-text{
  font-family: WhyteInktrapTrial-Light, sans-serif;
  display:block;
  padding-top:8px;
}

article{
    width:70vw;
    margin:30px 20px;
    margin-bottom:2vh;
}

section{
}

p, ul, ol{
    float: left;
    display:inline-block;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 30px; 
    margin-right:5%;
}

p{
    width:45%;
    max-width:540px;
}

ul {
    width:100%;
    min-width:244px;
}

li{
    float:left;
    display:block;
    max-width:480px;
    min-width:244px;
    margin-right:2%;
    margin-bottom:20px;
}

#services-list li{
    width:31%;
}

#team-list li{
    display:block;
    height:240px;
    width:48%;
    padding-bottom:40px;
}

.team-name{
    display:block;
    width:100%;
    height:40px;
    padding:10px 0;
}

img{
    border:none;
    border-image:none;
    border-image-width:0;
}

.team-photo{
    background-color:hsl(147,87%,96%);
    height:100%;
    width:100%;

}

a{
  color:unset;
  transition:background-color,margin .5s;
}

a:hover{
  background-color: hsla(20,50%,95%,20%);
  margin-left:5px;
}

a:visited{
  color:unset;
  stroke:unset;
}

.arrowgroup{
  float:left;
  margin:0;
  display:block;
  background-color: hsla(0,0%,95%,0%);
  width:210px;
  border-radius: 20px;
  padding: 6px;
}

.arrow{
  margin:auto;
  padding-right:20px;
  fill:none;
  float:left;
}


@media only screen and (max-width: 600px) {
  /* For mobile phones: */

body{
  padding:20px;
}

h1{
  font-size:3.5rem;
  letter-spacing: -2.9;
  line-height: 48px;
}

h2{
  font-size:1.7rem;
  line-height:26px;
  padding-top:16px;
}

.bar{
  width:96px;
}

.bar:hover{
  cursor:pointer;
  width:105px;
}

.bar:focus{
  width:60%;
}

.content{
  float:left;
  padding-top: 1px;
}

.arrowgroup{
 width:160px;
}

.arrow{
  padding-right:8px;
}

}

@media only screen and (max-height: 500px) {
  /* For landscape mobile phones */

h1{
  font-size:3.75rem;
  letter-spacing: -2.9;
  line-height: 52px;
}

a:hover{
  background-color: hsla(20,50%,95%,20%);
  margin-left:-5px;
}

.bar:focus{
  width:40%;
}

.links-container{
  position:absolute;
  bottom:unset;
  float:right;
  right:20px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.secondary-page-links{
    position:relative;
}
