/* --------------------------ROOT VARIABLES-------------------------- {{{*/
:root{
  --link-alpha: 20,50%,95%,0%;
  --link-hover-alpha: 20,50%,95%,20%;
  --bar-width: 120px;
  --bar-margin: 20px;
  --heading-multiplier: calc(1vw/88);
  --heading-size: 12rem;
}
@media only screen and ( max-width: 1056px) {
  :root {
    --heading-size: 8rem;
  }
}
@media only screen and ( max-width: 756px) {
  :root {
    --heading-size: 6.4rem;
  }
}
@media only screen and ( max-width: 600px) {
  :root {
    --heading-size: 4.8rem;
  }
}
@media only screen and ( max-width: 490px) {
  :root {
    --heading-size: 3.2rem;
  }
}
/*end variables }}}*/

/* --------------------------GLOBAL STYLES-------------------------- {{{*/
/* Page themes {{{*/
.theme0{
  color: #1A1A1A;
  background-color: hsla(45,100%,54%,100%);
  stroke: #1A1A1A;
  --circle-color: hsl(45,100%,54%);
  --logo-letter-color: #1A1A1A;
}
.theme1{
  color: #FFF;
  fill: #FFF;
  background-color: hsl(0, 0%, 10%);
  stroke: #FFF;
  --circle-color: hsl(0, 0%, 10%);
  --logo-letter-color: #FFF;
}
.theme2{
  color: #1A1A1A;
  stroke: #1A1A1A;
  background-color: hsl(197, 100%, 53%);
  --circle-color: hsl(197, 100%, 53%);
  --logo-letter-color: #1A1A1A;
} 
.theme3{
  color: #1A1A1A;
  stroke: #1A1A1A;
  background-color: hsl(45,100%,98%);
  --circle-color: hsl(45,100%,98%);
  --link-alpha: 15, 10%, 55%, 0%;
  --link-hover-alpha: 15, 10%, 55%, 10%;
  --logo-letter-color: #1A1A1A;
}
/* end page themes }}}*/

/* General styles {{{*/

html {
  box-sizing: border-box;
  font-size: 16px;
  width: 100vw;
  height: 100%;
  cursor: url(./cursors/normal.svg)  2 2, auto;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  transition: padding .2s;
  margin: 0;
  padding: 20px;
  height: 100%; 
  width: 100%;
  cursor: url(./cursors/normal.svg) 2 2, auto;
}
blockquote, dl, dt, figcaption, address, p, pre, h1, h2, h3, h4, h5, h6 {
  cursor: url(./cursors/text.svg) 13 26, auto;
}
.credit {
    cursor: url(./cursors/text.svg) 13 48, auto;
}
.content-area{
  display: flex;
  float: left;
  flex-direction: column;
}
.circle,  {
  user-select: none;
}
#landing .credit {
  position: fixed;
  right: 30px;
  bottom: 18px;
  opacity: 1;
  visibility: visible;
  transition: visibility 0 .3s, opacity .3s;
  text-align: right;
}
/* end general styles }}} */

/* Text styles {{{*/
/* Linking fonts {{{*/
@font-face {
  font-family: "WhyteInktrap";
  src: url("../assets/fonts/WhyteInktrap-Book.woff2") format('woff2');
  font-weight: bold;
}
@font-face {
  font-family: "WhyteInktrap";
  src: url("../assets/fonts/WhyteInktrap-Light.woff2") format('woff2');
  font-weight: normal;
}
/* end font links }}}*/

/* Headings and links {{{*/
h1, h2, h3, a{
  font-family: "WhyteInktrap", sans-serif;
  font-weight: bold;
  text-align: left;
}
h1{
  font-size: var(--heading-size);
  letter-spacing: -.3rem;
  line-height: calc(0.8 * var(--heading-size));
  /* transition: font-size .3s, letter-spacing .3s, line-height .3s, opacity .5s; */
  opacity: 0;
  top: 20px;
}
h2 {
  font-size: 2.4rem;
  letter-spacing: -.15rem;
  line-height: 2.4rem;
  margin-bottom: 12px;
}
a{
  color: unset;
  text-decoration: none;
  border: none;
  outline: none;
  box-shadow: none;
}
a:visited{
  color: unset;
  stroke: unset;
}
/* end headings & links }}}*/

/* Body and footer {{{*/
html {
  font-family: neue-haas-unica, arial, sans-serif;
}
p {
  font-weight: 400;
  font-style: normal;
  color: #545454;
  text-align: left;
}
.credit{
  font-size: .75rem;
  letter-spacing: 0;
}
/*end body & footer }}}*/
/* end text styles }}}*/

/* Button styles {{{*/
.button-group{
  transition: opacity .3s, bottom .3s;
  opacity: 0;
}
.button{
  border-radius: 20px;
  padding: 10px;
  cursor: url(./cursors/pointer.svg) 5 4, pointer;
  display: flex;
  align-items: center;
  background-color: hsla(var(--link-alpha));
  transition: width .3s, padding .3s, margin .5s, background-color .3s, opacity 1s;
}
.button:hover, .button:focus {
  background-color: hsla(var(--link-hover-alpha));
  transition: background-color .3s;
  cursor: url(./cursors/pointer.svg) 5 4, pointer;
}
a:hover, a:visited {
  cursor: url(./cursors/pointer.svg) 5 4, pointer;
}
.project>.button:hover, .button:focus {
  background-color: hsla(var(--link-hover-alpha));
  transition: background-color .3s;
  cursor: url(./cursors/pointer.svg) 5 4, pointer;
}
.button-label{
  text-align: left;
  padding-left: 10px;
  font-family: "WhyteInktrap", sans-serif;
  font-weight: 100;
  font-size: 2.3rem;
  line-height: 2.2rem;
  letter-spacing: -.1rem;
  font-weight: 200;
  transition: font-size .3s, letter-spacing .3s, line-height .3s;  
}
.icon{
  fill: none;
}
/* end button styles }}} */

/* Bridger logo {{{*/
.bridgerlogo{
  display: block;
  width: 86px;
  right: 30px;
  top: 20px;
  opacity: 1;
  position: fixed;
  transition: opacity .3s, visibility 0s linear .3s;
  z-index: 900;
}
.bridgerlogo:hover, .bridgerlogo:focus {
  width: 87px;
  right: 29px;
  top: 19px;
  cursor: url(./cursors/pointer-lh.svg) 39 5, pointer;
}
.bridgerlogoletters{
  fill: var(--logo-letter-color);
  stroke: none;
}
.bridgerlogobar{
  fill: hsl(15, 100%, 55%);
  stroke: none;
}
/* end logo }}}*/

/* Bridger bar {{{*/
.bar{
  position: sticky;
  top: 20px;
  background: hsl(15, 100%, 55%);
  width: var(--bar-width);
  height: calc(100vh - 40px);
  float: left;
  display: inline-block;
  border-radius: 4px;
  margin-right: var(--bar-margin);
  transition: width .25s, background-color .5s;
}
.bar:hover, .bar:focus {
  cursor: url(./cursors/pointer.svg) 5 4, pointer;
  --bar-width: 125px;
  background: hsl(15, 100%, 48%);
}
/* Inner bar icon control {{{*/
.bariconcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: calc(100vh - 40px); 
  width: var(--bar-width);
  z-index: 1;
  position: absolute;
  top: 0;
  transition: width .25s;
  transition-delay: width .8s;
}
.baricon{
  stroke: #1A1A1A;
  fill: none;
  transition: opacity .5s;
}
/* end bar icon control }}}*/
/* end bridger bar }}}*/
/* end global styles }}}*/

/* --------------------------LANDING PAGE-------------------------- {{{*/
/* General landing page styles {{{*/
#landing{
  transition: background-color .6s, color .5s, stroke .5s, fill .5s;
  overflow: hidden;
  --mobile-hide: 1;
}
#landing .button-group{
  position: absolute;
  bottom: 18px;
}
/* }}} */

/* Bar video {{{*/
.bar video{
  min-height: 100%;
}
.bariconarrow{
  opacity: 0;
  transition: opacity .5s;
}
/* Only the landing page bar needs a specific focus state */
#videobar{
  overflow: hidden;
  border: none;
  outline: none;
  box-shadow: none;
}
#videobar:focus{
  width: 60%;
  
}
#reel{
  position: relative;
  height: 100%;
  margin: auto;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  transition: visibility .5s, opacity .5s;
}
/* end bar video }}}*/

/* Bar closing {{{*/
.barx{
  fill: none;
  visibility: hidden;
  stroke: hsla(0,100%,100%,40%);
  opacity: 0;
  width: 85px;
  background-color: none;
  transition: opacity .3s, stroke .3s;
  position: absolute;
  right: 30px;
  top: 35px;
  z-index: 1;
}
.barx:hover, .barx:focus {
  /* width: 50px; */
  stroke: hsla(0,100%,100%,100%);
  cursor: url(./cursors/pointer.svg) 5 4, pointer;
}
.bararrowleft{
  fill: none;
  opacity: 0;
  width: 85px;
  background-color: none;
  transition: opacity 2s,background-color .5s, margin-left .5s;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  border-radius: 6px;
  margin-left: 10px; 
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.bararrowleft:hover, .bar:focus .bararrowleft {
  margin-left: 0px;
  cursor: url(./cursors/pointer.svg) 5 4, pointer;
  background-color: hsla(20,50%,95%,20%);
}
/* end bar closing }}}*/

/* Color control circle {{{*/
.circle{
  background-color: var(--circle-color);
  width: 60px;
  height: 120px;
  float: right;
  margin: auto;
  right: 0px;
  overflow: hidden;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: url(./cursors/pointer-lh.svg) 39 5, pointer;
  transition: opacity .5s;
}
#innercircle{
  z-index: -1;
  transition: width .4s, height .4s;
}
#controlcircle{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  right: 0px;
  transition: width .35s, height .35s, background-color .5s, right .5s;
}
#circlehitbox{
  width: 100px;
  height: 200px;
  float: right;
  margin: auto;
  overflow: hidden;
  right: 0px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: width .3s, height .3s, opacity .3s;
  cursor: url(./cursors/pointer-lh.svg) 39 5, pointer;
  opacity: 1;
  user-select: none;
}
/* end color control circle }}}*/
/* end landing page }}}*/

/* ----------------------SECONDARY PAGES------------------------- {{{*/

/* Shared secondary page styles {{{*/
.secondary-page header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 20px;
}
.back-button {
  visibility: hidden;
  transition: visibility 0s .3s;
}
.back-button .icon{
  transition: border .3s, padding .3s, width .3s, margin .3s;
  width: 0px;
  margin: 10px 8px 0 0;
}
.back-button:hover .icon, .back-button:focus .icon {
  margin: 10px 1rem 0 0;
  padding-left: 5px;
  padding-right: 3px;
  border-left: 4px solid hsl(15, 100%, 55%);
  cursor: url(./cursors/pointer.svg) 5 4, pointer;
}

article{
  display: inline-block;
  width: calc(100% - var(--bar-width) - 2*var(--bar-margin));
  margin-bottom: 30px;
  clear: both;
}
article > section {
  margin-top: 60px;
  max-width: 1900px;
  font-size: 1.4rem;
  line-height: 2rem; 
  letter-spacing: 0;
  clear: both;
}

/* SECONDARY FOOTER {{{ */
#full-footer {
  display: flex;
  position: relative;
  margin-top: 120px;
  margin-bottom: 1rem;
  /* width: calc(100% - var(--bar-width) - 2*var(--bar-margin)); */
  justify-content: space-between;
  align-items: flex-end;
}
#footer-logo {
  display: none;
  position: relative;
  left:10px;
  margin-top:0.8rem;
  margin-bottom:0.8rem;
  bottom:0;
  right:0;
  opacity: 1;
}

.secondary-page .button-group ul{
  width: auto;
  flex-flow: row wrap;
}
@media only screen and (max-width: 638px) {
  .secondary-page .button-group ul{
    display: flex;
    flex-direction: column;
  }
}
#nav-buttons {
  display: flex;
  float: left;
  width: auto;
  max-width: 300px;
}
.secondary-page .credit {
  position: absolute;
  display: block;
  left: 0px;
  margin-left: 10px;
  bottom: -1.6rem;
  opacity: 1;
  transition: opacity .3s;
}

/* contact info {{{*/
#contact-info {
  display: flex;
  position: relative;
  /* set width within available space */
  width: calc(100% - 300px);
  min-width: 320px;
  max-width: 480px;
  justify-content: space-between;
  margin-bottom: 10px;
}
#social-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.social-link:hover, .social-link:focus {
  text-decoration: underline;
  cursor: url(./cursors/pointer.svg) 8 7, pointer;
}
address{
   line-height: 1.2rem;
}
address > section:first-child {
  margin-bottom: 0.8rem;
}
#phone, #email {
  display: block;
  margin-top: 0.8rem;
  /* line-height: 1.6rem; */
}
#contact-info a {
    font-family: "neue-haas-unica", arial, sans-serif;
    font-weight: 400;
}
/* end contact info }}}*/
@media only screen and ( max-width: 812px ) {
  #full-footer {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 56px;
    margin-left: -10px;
  }
  .secondary-page .button-group ul{
    margin-bottom: 2.4rem;
  }
  #contact-info {
    margin-left: 10px;
    /* min-width: 100%; */
    /* margin-bottom: 1.6rem; */
  }
  .secondary-page .credit {
    position: relative;
    margin-bottom: 1.6rem;
    /* bottom: 0.8rem; */
  }
  #footer-logo {
    display: block;
  }
}

/* end secondary footer }}} */

/*}}} Shared secondary page styles */

/* --------------------------WORKS PAGE-------------------------- {{{*/
#project-list{
  list-style: none;
  margin-top: 60px;
  padding: 0;
  display: grid;
  width: 100%;
  max-width: 1360px;
  gap: var(--bar-margin);
  grid-template-rows: (8 1fr);
  grid-template-columns: (5 1fr);
}
@media only screen and (max-width: 994px) {
  #project-list{
    display: flex;
    flex-direction: column;
  }
}
.project:first-child {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
}
.project:nth-child(2) {
  grid-column: 4 / 6;
  grid-row: 3 / 6;
}
.project:nth-child(3) {
  grid-column: 2 / 4;
  grid-row: 5 / 8;
}
.project {
  display: flex;
  width: 100%;
}
.coverimage{
  width: 100%;
  min-width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: cover;
  background-color: hsl(197, 100%, 53%);
}
.project > .button {
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin: -10px;
}
.button > .button {
  background: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
  min-width: 300px;
  padding: 0;
   /* margin: 0 -10px; */
}
.button > .button .button-label {
  padding: 0;
}
/* end works page }}}*/

/* --------------------------INFO PAGE-------------------------- {{{ */

/* INFO INTRO {{{ */
#intro p {
  display: inline-block;
  width: 44%;
  margin-right: 5%;
  vertical-align: text-top;
}
@media only screen and (max-width: 840px) {
  #intro p {
    display: block;
    width: 90%;
  }
  #intro p:first-child {
    margin-bottom: 1.6rem;
  }
}
@media only screen and (max-width: 840px) {
  #intro p {
    display: block;
    width: 100%;
  }
}
/* end intro }}}*/

/* INFO SERVICES {{{ */
#services-list > li {
  min-width: 330px;
  max-width: 660px;
  cursor: url(./cursors/text.svg) 13 26, auto;
}
@media only screen and (max-width: 812px) {
  #services-list > li {
    margin-top: 0.8rem;
  }
}
/* end services }}} */

/* SERVICES & TEAM {{{ */
.team-info {
  min-width: 244px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 90%;
  gap: 20px;
}
@media only screen and (max-width: 1166px) {
  .team-info {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 812px) {
  .team-info {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}
/* end services&team }}} */

/* INFO TEAM {{{ */
.team-member {
  position: relative;
  min-width: 330px;
  max-width: 100%;
  font-family: WhyteInktrap;
  font-weight: bold;
  color: white;
  overflow: hidden;
}
@media only screen and (max-width: 512px) {
  .team-member {
    min-width: 140px;
  }
}

/* name {{{ */
.team-name{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 0.8rem;
  overflow: hidden;
}
.name, .space {
  padding: 0;
  top: 0;
  transition: filter 0.3s, left 0.3s, right 0.3s, height 0.3s, width 0.3s, font-size 0.3s, top 0.3s, bottom 0.3s, opacity 0.3s, background 0.3s;
  padding-left: 8px;
  padding-right: 8px;
  opacity: 1;
  top: calc(50% - 0.4rem);
  background: none;
}
.team-member:hover .name, .team-member:focus .name {
  font-size: 4.0rem;
  line-height: 4.8rem;
  opacity: 95%;
  color: white;
  height: 0;
  padding: 0;
  background: none;
  opacity: 1;
  cursor: url(./cursors/pointer.svg) 5 4, pointer;
}
.first-name {
  position: absolute;
  left: 0;
}
.team-member:hover .first-name, .team-member:focus .first-name {
  left: 1rem;
  top: 0;
  cursor: url(./cursors/pointer.svg) 5 4, pointer;
}
.last-name {
  position: absolute;
  right: 0;
}
.team-member:hover .last-name, .team-member:focus .last-name {
  right: 1rem;
  top: calc(100% - 5.6rem);
  cursor: url(./cursors/pointer.svg) 5 4, pointer;
}
/* end name }}} */

.team-photo{
  width: 100%;
  border: none;
  border-radius: 3px;
}
/* end team }}} */

/* end info page }}}*/

/*}}} end secondary pages */

/* --------------------------CASE STUDIES------------------------------- {{{*/

/* case study container {{{ */
.case-study, .case-study *:not(.icon-button){
  /* cursor: url(./cursors/close.svg) 30 30, sw-resize; */
}

.case-study body{
   background-color: #eee;
   margin: 0;
   padding: 0;
}

.case-study main {
  position: relative;
  margin: 2.4rem auto;
  display: flex;
  width: 70%;
  min-width: 960px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 1.6rem rgba(0,0,0,0.1);
  overflow: hidden;
}

.case-study article{
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

/* }}} case study container */

/* case study header {{{ */
.case-study header {
  display: block;
  position: relative;
}

.case-study hgroup {
  position: absolute;
  width: 300px;
  transform-origin: bottom left;
}
.case-study hgroup.left-title {
  left: 3.2rem;
  bottom: calc(420px + 1rem);
  transform: rotate(-90deg);
}

.case-study hgroup.right-title {
  top: -1rem;
  left: calc(100% - 3.2rem);
  transform: rotate(90deg);
}

.case-study .title, .case-study .subtitle {
  font-size: 0.8rem;
  color: white;
  line-height: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: url(./cursors/text-vert.svg) 13 26, vertical-text;
}

.case-study .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 480px;
  width: 100%;
  background-color: #0F049F;
  margin-bottom: 420px;
  padding-top: 2.4rem;
}

.case-study header img {
   margin-bottom: -380px;
}

p[role="lead-in"] {
font-size: 24px;
color: #FFFFFF;
line-height: 2.4rem;
width: 60%;
margin-bottom: 2.4rem;
}

#close-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 900;
  cursor: url(./cursors/pointer-lh.svg) 39 5, pointer;
}

#close-button > a {
  display: block;
  padding: 1.4rem;
  cursor: url(./cursors/pointer-lh.svg) 39 5, pointer;
}

.case-study .credit {
  position: absolute;
  bottom: 18px;
  right: 30px;
}
/*}}} end case study header */

/* case study sections {{{ */

.case-study section {
  margin: 3.2rem 1.6rem;
}

.case-study section p {
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.6rem;
  display: none;
}

.case-study #services {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 720px;
  margin: 0.8rem;
  padding-top: 0.8rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: white;
}
hr {
  border: 1px solid #22d;
  width: 25%;
}

#problem {
  width: 100%;
  background: #f6f6f6;
  padding: 1.6rem;
}

.details {
  display: flex;
  justify-content: center;
}
.details .text {
  max-width: 300px;
  margin-right: 2.4rem;
}
.details .images {
  display: flex;
  max-width: 560px;
}

.images img{
  max-height: 300px;
  object-fit: cover;
  width: 50%;
}

#solution-images {
  flex-direction: column;
}
#solution-images img:first-child {
  width: 100%;
}
#solution-images .row-two {
  display: flex;
}
#solution-images .row-two img {
  width: 50%;
}

/* }}} case study sections */

/* end case studies }}}*/

/* --------------------------MEDIA QUERIES-------------------------- {{{*/

/* medium screen (<900px) {{{*/
@media only screen and (max-width: 900px) {
/* For mobile phones: */

h1{
  opacity: var(--mobile-hide);
}

.button{
  /* opacity: var(--mobile-hide); */
}

.button-label{
  /* font-size: 2.25rem; */
  font-size: 2rem;
  line-height: 30px;
  /* padding-top: 12px; */
}

.bar{
  --bar-width: 96px;
}

.bar:hover{
  cursor: url(./cursors/pointer.svg) 5 4, pointer;
  --bar-width: 105px;
}

#videobar:focus{
  cursor: url(./cursors/pointer.svg) 5 4, pointer;
  width: 100%;
}

#landing .credit{
  visibility: hidden;
  opacity: 0;
  z-index: -100;
}

.button-group{
  bottom: 14px;
}

.bridgerlogo:not(#footer-logo){
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility 0;
  transition-delay: 0;
}

} /*}}} end medium screen */

/* For landscape mobile phones {{{*/
@media only screen and (max-height: 500px) {

h1{
  font-size: 4rem;
  letter-spacing: -.25rem;
  line-height: 3.3rem;
  opacity: var(--mobile-hide);
}

a:hover{
  margin-left: -5px;
  cursor: url(./cursors/pointer.svg) 5 4, pointer;
}

#video:focus{
  cursor: url(./cursors/pointer.svg) 5 4, pointer;
  --bar-width: 100%;
}

.button{
  opacity: var(--mobile-hide);
}

.button-group{
  position: absolute;
  float: right;
  right: 20px;
}

} /*}}} landscape mobile phone*/

/* thin screen (540px) {{{*/
@media only screen and (max-width: 540px) {

h1{
  opacity: var(--mobile-hide);
}
article {
  width: calc(100% - 2*var(--bar-margin));
}
.secondary-page .bar{
  --bar-width: 0px;
}
.back-button {
  visibility: visible;
  transition: visibility 0s;
}
.back-button .icon{
  border-left: 5px solid hsl(15, 100%, 55%);
  padding-left: 8px;
  display: block;
  width: 69px
}

.button{
  opacity: var(--mobile-hide);
}

.content-area{
  margin: 0;
}

} /* end thin screen }}}*/

/* end media queries }}}*/
