/* --------------------------ROOT VARIABLES-------------------------- {{{*/
:root{
  --link-alpha: 20,50%,95%,0%;
  --link-hover-alpha: 20,50%,95%,20%;
  --bar-width: 120px;
  --bar-margin: 20px;
}
/*end variables }}}*/

/* --------------------------GLOBAL STYLES-------------------------- {{{*/
/* Page themes {{{*/
.theme0{
  color: #1A1A1A;
  background-color: hsla(45,100%,54%,100%);
  stroke: #1A1A1A;
  --circle-color: hsl(45,100%,54%);
  --logo-letter-color: #1A1A1A;
}
.theme1{
  color: #FFF;
  fill: #FFF;
  background-color: hsl(0, 0%, 10%);
  stroke: #FFF;
  --circle-color: hsl(0, 0%, 10%);
  --logo-letter-color: #FFF;
}
.theme2{
  color: #1A1A1A;
  stroke: #1A1A1A;
  background-color: hsl(197, 100%, 53%);
  --circle-color: hsl(197, 100%, 53%);
  --logo-letter-color: #1A1A1A;
} 
.theme3{
  color: #1A1A1A;
  stroke: #1A1A1A;
  background-color: hsl(45,100%,98%);
  --circle-color: hsl(45,100%,98%);
  --link-alpha: 15, 10%, 55%, 0%;
  --link-hover-alpha: 15, 10%, 55%, 10%;
  --logo-letter-color: #1A1A1A;
}
/* end page themes }}}*/

/* General styles {{{*/

html {
  box-sizing: border-box;
  font-size: 16px;
  width: 100vw;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  transition: padding .2s;
  margin: 0;
  padding: 20px;
  height: 100%; 
  width: 100%;
}
.content-area{
  display: flex;
  float: left;
  flex-direction: column;
}
#landing .credit {
  position: fixed;
  right: 30px;
  bottom: 18px;
  opacity: 1;
  transition: opacity .3s;
  text-align: right;
}
/* end general styles }}} */

/* Text styles {{{*/
/* Linking fonts {{{*/
@font-face {
  font-family: "WhyteInktrap";
  src: url("../assets/fonts/WhyteInktrap-Book.woff2") format('woff2');
  font-weight: bold;
}
@font-face {
  font-family: "WhyteInktrap";
  src: url("../assets/fonts/WhyteInktrap-Light.woff2") format('woff2');
  font-weight: normal;
}
/* end font links }}}*/

/* Headings and links {{{*/
h1, h2, a{
  font-family: "WhyteInktrap", sans-serif;
  font-weight: bold;
  text-align: left;
}
h1{
  font-size: 4.75rem;
  letter-spacing: -.3rem;
  line-height: 4rem;
  transition: font-size .3s, letter-spacing .3s, line-height .3s, opacity .5s;
  opacity: 0;
  position: sticky;
  top: 20px;
}
h2 {
  font-size: 2.4rem;
  letter-spacing: -.15rem;
  line-height: 2.4rem;
  margin-bottom: 12px;
}
a{
  color: unset;
  text-decoration: none;
  border: none;
  outline: none;
  box-shadow: none;
}
a:visited{
  color: unset;
  stroke: unset;
}
/* end headings & links }}}*/

/* Body and footer {{{*/
html {
  font-family: neue-haas-unica, arial, sans-serif;
}
p {
  font-weight: 400;
  font-style: normal;
  color: #545454;
  /* font-size: 1rem; */
  text-align: left;
  /* line-height: 1.5rem; */
}
.credit{
  font-size: .75rem;
  letter-spacing: 0;
}
/*end body & footer }}}*/
/* end text styles }}}*/

/* Button styles {{{*/
.button-group{
  transition: opacity .3s, bottom .3s;
  opacity: 0;
}
.button{
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: hsla(var(--link-alpha));
  transition: width .3s, padding .3s, margin .5s, background-color .3s, opacity 1s;
}
.button:hover, .button:focus {
  background-color: hsla(var(--link-hover-alpha));
  transition: background-color .3s;
}
.button-label{
  text-align: left;
  padding-left: 10px;
  font-family: "WhyteInktrap", sans-serif;
  font-weight: 100;
  font-size: 2.3rem;
  line-height: 2.2rem;
  letter-spacing: -.1rem;
  font-weight: 200;
  transition: font-size .3s, letter-spacing .3s, line-height .3s;  
}
.icon{
  fill: none;
}
/* end button styles }}} */

/* Bridger logo {{{*/
.bridgerlogo{
  display: block;
  width: 86px;
  right: 30px;
  top: 20px;
  opacity: 1;
  position: fixed;
  transition: opacity .3s;
}
.bridgerlogo:hover, .bridgerlogo:focus {
  width: 90px;
  right: 26px;
  top: 18px;
}
.bridgerlogoletters{
  fill: var(--logo-letter-color);
  stroke: none;
}
.bridgerlogobar{
  fill: hsl(15, 100%, 55%);
  stroke: none;
}
/* end logo }}}*/

/* Bridger bar {{{*/
.bar{
  position: sticky;
  top: 20px;
  background: hsl(15, 100%, 55%);
  width: var(--bar-width);
  height: calc(100vh - 40px);
  float: left;
  display: inline-block;
  border-radius: 4px;
  margin-right: var(--bar-margin);
  transition: width .25s, background-color .5s;
}
.bar:hover, .bar:focus {
  cursor: pointer;
  --bar-width: 125px;
  background: hsl(15, 100%, 48%);
}
/* Inner bar icon control {{{*/
.bariconcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: calc(100vh - 40px); 
  width: var(--bar-width);
  z-index: 1;
  position: absolute;
  top: 0;
  transition: width .25s;
  transition-delay: width .8s;
}
.baricon{
  stroke: #1A1A1A;
  fill: none;
  transition: opacity .5s;
}
/* end bar icon control }}}*/
/* end bridger bar }}}*/
/* end global styles }}}*/

/* --------------------------LANDING PAGE-------------------------- {{{*/
/* General landing page styles {{{*/
#landing{
  transition: background-color .6s, color .5s, stroke .5s, fill .5s;
  overflow: hidden;
  --mobile-hide: 1;
}
#landing .button-group{
  position: absolute;
  bottom: 18px;
}
/* }}} */

/* Bar video {{{*/
.bar video{
  min-height: 100%;
}
.bariconarrow{
  opacity: 0;
  transition: opacity .5s;
}
/* Only the landing page bar needs a specific focus state */
#videobar{
  overflow: hidden;
  border: none;
  outline: none;
  box-shadow: none;
}
#videobar:focus{
  width: 60%;
}
#reel{
  position: relative;
  height: 100%;
  margin: auto;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  transition: visibility .5s, opacity .5s;
}
/* end bar video }}}*/

/* Bar closing {{{*/
.barx{
  fill: none;
  visibility: hidden;
  stroke: hsla(0,100%,100%,40%);
  opacity: 0;
  width: 85px;
  background-color: none;
  transition: opacity .3s, stroke .3s;
  position: absolute;
  right: 30px;
  top: 35px;
  z-index: 1;
}
.barx:hover, .barx:focus {
  /* width: 50px; */
  stroke: hsla(0,100%,100%,100%);
  cursor: pointer;
}
.bararrowleft{
  fill: none;
  opacity: 0;
  width: 85px;
  background-color: none;
  transition: opacity 2s,background-color .5s, margin-left .5s;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  border-radius: 20px;
  margin-left: 10px; 
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.bararrowleft:hover, .bar:focus .bararrowleft {
  margin-left: 0px;
  cursor: pointer;
  background-color: hsla(20,50%,95%,20%);
}
/* end bar closing }}}*/

/* Color control circle {{{*/
.circle{
  background-color: var(--circle-color);
  width: 60px;
  height: 120px;
  float: right;
  margin: auto;
  right: 0px;
  overflow: hidden;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  transition: opacity .5s;
}
#innercircle{
  z-index: -1;
  transition: width .4s, height .4s;
}
#controlcircle{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  right: 0px;
  transition: width .35s, height .35s, background-color .5s, right .5s;
}
#circlehitbox{
  width: 100px;
  height: 200px;
  float: right;
  margin: auto;
  overflow: hidden;
  right: 0px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: width .3s, height .3s, opacity .3s;
  cursor: pointer;
  opacity: 1;
}
/* end color control circle }}}*/
/* end landing page }}}*/

/* --------------------------WORKS PAGE-------------------------- {{{*/
#project-list{
  list-style: none;
  margin-top: 60px;
  padding: 0;
  display: grid;
  gap: var(--bar-margin);
}
@media only screen and (max-width: 994px) {
  #project-list{
    display: flex;
    flex-direction: column;
  }
}
#project-list li:first-child {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
}
#project-list li:nth-child(2) {
  grid-column: 4 / 6;
  grid-row: 3 / 6;
}
#project-list li:nth-child(3) {
  grid-column: 2 / 4;
  grid-row: 5 / 8;
}
.project {
  display: flex;
}
.coverimage{
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: hsl(197, 100%, 53%);
}
.project > .button {
  flex-direction: column;
  align-items: start;
}
.button > .button {
  background: none;
  margin: 0;
  padding: 0;
}
/* end works page }}}*/

/* --------------------------INFO PAGE-------------------------- {{{ */
/* INFO BASIC {{{ */
article{
  display: inline-block;
  width: calc(100% - var(--bar-width) - 2*var(--bar-margin));
  margin-bottom: 30px;
  clear: both;
}
article > section {
  margin-top: 60px;
  max-width: 1900px;
  font-size: 1.4rem;
  line-height: 2rem; 
  letter-spacing: 0;
  clear: both;
}
/* end info basic }}}*/

/* INFO INTRO {{{ */
#intro p {
  display: inline-block;
  width: 44%;
  margin-right: 5%;
  vertical-align: text-top;
}
@media only screen and (max-width: 840px) {
  #intro p {
    display: block;
    width: 90%;
  }
  #intro p:first-child {
    margin-bottom: 1.6rem;
  }
}
@media only screen and (max-width: 840px) {
  #intro p {
    display: block;
    width: 100%;
  }
}
/* end intro }}}*/

/* INFO SERVICES {{{ */
#services-list > li {
  min-width: 330px;
  max-width: 660px;
}
@media only screen and (max-width: 812px) {
  #services-list > li {
    margin-top: 0.8rem;
  }
}
/* end services }}} */

/* SERVICES & TEAM {{{ */
.team-info {
  min-width: 244px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 90%;
  gap: 20px;
}
@media only screen and (max-width: 1166px) {
  .team-info {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 812px) {
  .team-info {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}
/* end services&team }}} */

/* INFO TEAM {{{ */
.team-member {
  position: relative;
  min-width: 330px;
  max-width: 100%;
  font-family: WhyteInktrap;
  font-weight: bold;
  color: white;
  overflow: hidden;
}
@media only screen and (max-width: 512px) {
  .team-member {
    min-width: 140px;
  }
}

/* name {{{ */
.team-name{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 0.8rem;
  overflow: hidden;
}
.name, .space {
  padding: 0;
  top: 0;
  transition: filter 0.3s, left 0.3s, right 0.3s, height 0.3s, width 0.3s, font-size 0.3s, top 0.3s, bottom 0.3s, opacity 0.3s, background 0.3s;
  padding-left: 8px;
  padding-right: 8px;
  opacity: 1;
  top: calc(50% - 0.4rem);
  background: none;
}
.team-member:hover .name, .team-member:focus .name {
  font-size: 4.0rem;
  line-height: 4.8rem;
  opacity: 95%;
  color: white;
  height: 0;
  padding: 0;
  background: none;
  opacity: 1;
}
@media (hover) {
  .name {
    background-color: hsl(0, 100%, 100%, 1);
  }
}
.first-name {
  position: absolute;
  left: 0;
}
.team-member:hover .first-name, .team-member:focus .first-name {
  left: 1rem;
  top: 0;
}
.last-name {
  position: absolute;
  right: 0;
}
.team-member:hover .last-name, .team-member:focus .last-name {
  right: 1rem;
  top: calc(100% - 5.6rem);
}
/* end name }}} */

.team-photo{
  width: 100%;
  border: none;
  filter: saturate(80%);
  transition: filter 1s;
  border-radius: 0.8rem;
}
.team-member:hover .team-photo, .team-member:focus .team-photo {
  filter: saturate(100%);
}
/* end team }}} */

/* INFO FOOTER {{{ */
#full-footer {
  display: flex;
  position: relative;
  margin-top: 120px;
  margin-bottom: 1rem;
  /* width: calc(100% - var(--bar-width) - 2*var(--bar-margin)); */
  justify-content: space-between;
  align-items: flex-end;
}
#footer-logo {
  display: none;
  position: relative;
  left:10px;
  margin-top:0.8rem;
  margin-bottom:0.8rem;
  bottom:0;
  right:0;
  opacity: 1;
}

.secondary-page .button-group ul{
  width: auto;
  flex-flow: row wrap;
}
@media only screen and (max-width: 638px) {
  .secondary-page .button-group ul{
    display: flex;
    flex-direction: column;
  }
}
#nav-buttons {
  display: flex;
  float: left;
  width: auto;
  max-width: 300px;
}
.secondary-page .credit {
  position: absolute;
  display: block;
  left: 0px;
  margin-left: 10px;
  bottom: -1.6rem;
  opacity: 1;
  transition: opacity .3s;
}

/* contact info {{{*/
#contact-info {
  display: flex;
  position: relative;
  /* set width within available space */
  width: calc(100% - 300px);
  min-width: 320px;
  max-width: 480px;
  justify-content: space-between;
  margin-bottom: 10px;
}
#social-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.social-link:hover, .social-link:focus {
  text-decoration: underline;
}
address{
   line-height: 1.2rem;
}
address > section:first-child {
  /* margin-bottom: 0.8rem; */
}
#phone, #email {
  display: block;
  margin-top: 0.8rem;
  /* line-height: 1.6rem; */
}
#contact-info a {
    font-family: "neue-haas-unica", arial, sans-serif;
    font-weight: 400;
}
/* end contact info }}}*/
@media only screen and ( max-width: 812px ) {
  #full-footer {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 56px;
    margin-left: -10px;
  }
  .secondary-page .button-group ul{
    margin-bottom: 2.4rem;
  }
  #contact-info {
    margin-left: 10px;
    /* min-width: 100%; */
    /* margin-bottom: 1.6rem; */
  }
  .secondary-page .credit {
    position: relative;
    margin-bottom: 1.6rem;
    /* bottom: 0.8rem; */
  }
  #footer-logo {
    display: block;
  }
}

/* end secondary footer }}} */

/* end info page }}}*/

/* --------------------------MEDIA QUERIES-------------------------- {{{*/
/* medium screen (<900px) {{{*/
@media only screen and (max-width: 900px) {
/* For mobile phones: */
.main{
  display: block;
  padding: 20px;
  height: 100%;
}
h1{
  font-size: 4rem;
  letter-spacing: -.25rem;
  line-height: 3.3rem;
  opacity: var(--mobile-hide);
}
.button{
  opacity: var(--mobile-hide);
}
.button-label{
  /* font-size: 2.25rem; */
  font-size: 2rem;
  line-height: 30px;
  /* padding-top: 12px; */
}
.bar{
  --bar-width: 96px;
}
.bar: hover{
  cursor: pointer;
  --bar-width: 105px;
}
#videobar: focus{
  width: 100%;
}
.bararrowleft{
  visibility: hidden;
}
.barx{
  visibility: visible;
}
.credit{
  opacity: 0;
  z-index: -100;
}
.button-group{
  bottom: 14px;
}
.bridgerlogo{
  opacity: 0;
}
} /* end medium screen }}}*/

/* short screen (550px) {{{*/
@media only screen and (max-height: 500px) {
/* For landscape mobile phones */
h1{
  font-size: 4rem;
  letter-spacing: -.25rem;
  line-height: 3.3rem;
  opacity: var(--mobile-hide);
}
a: hover{
  margin-left: -5px;
}
#video: focus{
  --bar-width: 100%;
}
.button{
  opacity: var(--mobile-hide);
}
.button-group{
  position: absolute;
  float: right;
  right: 20px;
}
} /* end short screen }}}*/

/* thin screen (400px) {{{*/
@media only screen and (max-width: 400px) {
/* For small mobile phones: */
h1{
  font-size: 3.6rem;
  letter-spacing: -.25rem;
  line-height: 3rem;
  opacity: var(--mobile-hide);
}
.bar{
  --bar-width: 85px;
}
.button{
  opacity: var(--mobile-hide);
}
.content-area{
  margin-left: 10px;
}
} /* end thin screen }}}*/
/* end media queries }}}*/
